# IDE ve editör ayar dosyaları
.anaconda/
.arduinoIDE/
.bash_history
.conda/
.condarc
.continuum/
.gitconfig
.ipynb_checkpoints/
.ipython/
.jupyter/
.lesshst
.matplotlib/
.openjfx/
.spyder-py3/
.vscode/

# Kullanıcı dosyaları
3D Objects/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Jedi/
Links/
Music/
MyNetScrape/
NTUSER.DAT
NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
Saved Games/
ScrapeMynet/__init__.py
ScrapeMynet/cd
ScrapeMynet/data_fetcher.py
ScrapeMynet/data_processor.py
ScrapeMynet/images/
ScrapeMynet/main.py
ScrapeMynet/user_interface.py
ScrapeMynetPR/
ScrapeMynetProject/
Searches/
Tracing/
Untitled.ipynb
Videos/
anaconda3/
curseforge/
git/
hisseler.xlsx
main/
myproject/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
poetry/
pyproject.toml
scrapeingbymynnet/
untitled10.py
untitled14.py
untitled17.py
untitled22.py
"\304\261lk_program.ipynb"
